body{
    font-family: "Montserrat", serif;
    background-color: black;
    color: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;
    display: flex;
    padding: 0.5rem;
}
.sidebar{
    background-color: #000;
    border-radius: 1rem ;
    width: 330px;
    margin-right: 0.5rem;
}
.main-content{
    background-color: #121212;
    border-radius: 1rem;
    flex: 1;
    overflow: scroll;
    padding: 0 0.75rem 0 0.75rem;
}
a{
    text-decoration: none;
    color: white;
}
.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85px;
    padding: 0.5rem 0.75rem;
}
.nav-option{
    line-height: 2.5rem ;
    opacity: 0.7;
    padding: 0.5rem 1.5rem;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
    padding-right: 1rem;
}
.nav-option a{
    font-size: 1rem;
}
img{
    height: 1.25rem;
    width: 1.25rem;
}
.library {
    background-color: #121212;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
}
.options {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.icon{
    font-size: 1.2rem;
    display: flex;
    margin-top: 1rem;
}
.icon i{
   padding-right: 1rem;
   opacity: 0.7;
}
.icon i:hover {
    opacity: 1;
}
.box{
    width: 15rem;
    height: 8rem;
    background-color: #232323;
    border-radius: 1rem;
    margin: 0.5rem 0rem;
    padding: 1rem 1.3rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 600;
}
.box-p2{
    font-size: small;
    font-weight: 300;
}
.badge{
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 100px;
    padding: 0.2rem 0.9rem;
    font-weight: 700;
    margin-top: 1rem;
    height: 2rem;
    width: fit-content;
}
.dark{
    background-color: #000;
    color: #fff;
}
.box-2{
    width: 15rem;
    height: 10rem;
    background-color: #232323;
    border-radius: 1rem;
    margin: 0.5rem 0rem;
    padding: 1rem 1.3rem;
}
.sticky-nav{
    background-color: #121212;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    z-index: 1;
}
.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sticky-nav-options button{
    margin: 1rem;
}
.sticky-nav-icon{
    padding-top: 0.5rem;
}
@media (max-width : 1000px){
    .hide{
        display: none;
    }
}
.card{
    display: wrap;
    background-color: #232323;
    height: 230px;
    width: 150px;
    border-radius: 0.76rem;
    padding: 1rem;
    margin-left: 0.75rem;
    margin-top: 0.75rem;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
}
.card-img{
    width: 100%;
    height: 60%;
    border-radius: 1rem;
}
.card-tittle{
    font-weight: 600;
    padding-top: 1rem;
}
.card-desc{
    padding-top: 0.3rem;
    font-size: 0.85rem;
    font-weight: 300;
    opacity: 0.7;
}
.footer{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    height: 30%;
    width: 90%;
    border-top: 2px solid #fff;
    opacity: 0.2;
}
.music-player{
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album{
    width: 25%;
    display: flex;
}
.album img{
    height: 3.5rem;
    width: 3.5rem;
    padding: 0.3rem;
    margin: 0.3rem 0.5rem;
}
.song-desc h3{
    font-weight: 700;
    font-size: 1rem;
}
.song-desc p{
    font-size: 0.7rem;
    opacity: 0.7;
}
.playback-bar{
    width: 50%;
}
.playback-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playback-icon{
    height: 1rem;
    width: 1rem;
    margin-left: 1.75rem;
    opacity: 0.7;
}
.playback-icon img:hover{
    opacity: 1;
}
.playback-option{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    background-color: #1bd760;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    margin-top: -4px;
}
.controls{
    width: 25%;
    display: flex;
}
.control-icon{
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 0.4rem;
}
.vol{
    appearance: none;
    background-color: transparent;
}
.vol::-webkit-slider-runnable-track{
    background-color: #232323;
    border-radius: 100px;  
    height: 0.2rem;
}
.vol::-webkit-slider-thumb{
    appearance: none;
    background-color: #ddd;
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50%;
    margin : -3px;
}